<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2006, 2020 IBM Corp. and others

This program and the accompanying materials are made available under
the terms of the Eclipse Public License 2.0 which accompanies this
distribution and is available at https://www.eclipse.org/legal/epl-2.0/
or the Apache License, Version 2.0 which accompanies this distribution and
is available at https://www.apache.org/licenses/LICENSE-2.0.

This Source Code may also be made available under the following
Secondary Licenses when the conditions for such availability set
forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
General Public License, version 2 with the GNU Classpath
Exception [1] and GNU General Public License, version 2 with the
OpenJDK Assembly Exception [2].

[1] https://www.gnu.org/software/classpath/license.html
[2] http://openjdk.java.net/legal/assembly-exception.html

SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->
<module xmlns:xi="http://www.w3.org/2001/XInclude">
	<xi:include href="j9vmnatives.xml"><xi:fallback/></xi:include>

	<artifact type="target" name="generated.h" all="false">
		<dependencies>
			<dependency name="generated.h.m4"/>
			<dependency name="$(UMA_PATH_TO_ROOT)redirector/forwarders.m4"/>
			<dependency name="$(UMA_PATH_TO_ROOT)oti/helpers.m4"/>
		</dependencies>
		<commands>
			<command type="all" line="m4 -I$(UMA_PATH_TO_ROOT)oti -I$(UMA_PATH_TO_ROOT)redirector generated.h.m4 > generated.h $(call CONVERT_ASCII_TO_NATIVE, generated.h)"/>
			<command type="clean" line="$(RM) generated.h"/>
		</commands>
	</artifact>

	<artifact type="target" name="generate_j9vm">
		<commands>
			<command type="all" line="$(MAKE) -C $(UMA_PATH_TO_ROOT)j9vm generated.h"/>
			<command type="clean" line="$(MAKE) -C $(UMA_PATH_TO_ROOT)j9vm clean_generated.h"/>
		</commands>
	</artifact>

	<artifact type="shared" name="jvm" bundle="jvm" loadgroup="" appendrelease="false">
		<include-if condition="spec.flags.module_j9vm" />
		<options>
			<option name="requiresPrimitiveTable"/>
			<option name="prototypeHeaderFileNames" data="jvm.h"/>
		</options>
		<phase>core quick j2se</phase>
		<dependencies>
			<dependency name="generate_j9vm"/>
		</dependencies>
		<exports>
			<group name="all"/>
			<group name="j9vmnatives"/>
			<group name="jdk11">
				<include-if condition="spec.java11"/>
			</group>
			<group name="jdk14">
				<include-if condition="spec.java14"/>
			</group>
			<group name="jdk15">
				<include-if condition="spec.java15"/>
			</group>
		</exports>
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
			<include path="jclcommon">
				<include-if condition="spec.flags.build_realtime"/>
			</include>
			<include path="$(OMR_DIR)/gc/include" type="relativepath"/>
			<include path="j9gcgluejava"/>
		</includes>
		<makefilestubs>
			<makefilestub data="UMA_TREAT_WARNINGS_AS_ERRORS=1"/>
		</makefilestubs>
		<objects>
			<object name="j8vmi"/>
			<object name="j7vmi"/>
			<object name="j7verify"/>
			<object name="jvm"/>
			<object name="vmi"/>
			<object name="ut_j9scar"/>
			<object name="j9memcategories"/>
			<object name="java11vmi">
				<!--
				This object is mis-named and should have been separated into additions
				for 9, 10 and 11. As Java 9 and 10 are out-of-service at this point it
				isn't worth fixing.
				-->
				<!-- TODO include this object conditionally
				<include-if condition="spec.java9"/>
				-->
			</object>
			<object name="javanextvmi">
				<include-if condition="spec.java11"/>
			</object>
		</objects>

		<!--
		  WARNING: DO NOT LINK SHARED LIBRARIES AGAINST THIS SHARED LIBRARY
		           WE NEED TO BE ABLE TO LOAD IT WITHOUT ANYTHING ELSE ON THE
		           LIBPATH.
		           This is required because of sidecar configurations.
		-->
		<libraries>
			<library name="socket" type="macro"/>
			<library name="j9exelib"/>
			<library name="j9util"/>
			<library name="j9utilcore"/>
			<library name="j9avl" type="external"/>
			<library name="j9hashtable" type="external"/>
			<library name="j9pool" type="external"/>
			<!--  for advance toolchain pthread must be last in the link order -->
			<library name="pthread" type="system">
				<include-if condition="spec.linux.* and not spec.linux_ztpf.*"/>
			</library>
		</libraries>
	</artifact>

</module>
