<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright (c) 2006, 2020 IBM Corp. and others

   This program and the accompanying materials are made available under
   the terms of the Eclipse Public License 2.0 which accompanies this
   distribution and is available at https://www.eclipse.org/legal/epl-2.0/
   or the Apache License, Version 2.0 which accompanies this distribution and
   is available at https://www.apache.org/licenses/LICENSE-2.0.

   This Source Code may also be made available under the following
   Secondary Licenses when the conditions for such availability set
   forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
   General Public License, version 2 with the GNU Classpath
   Exception [1] and GNU General Public License, version 2 with the
   OpenJDK Assembly Exception [2].

   [1] https://www.gnu.org/software/classpath/license.html
   [2] http://openjdk.java.net/legal/assembly-exception.html

   SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->
<module>
        
	<exports group="all">
		<export name='j9bcv_initializeVerificationData'/>
		<export name='j9bcv_freeVerificationData'/>
		<export name='j9bcv_verifyClassStructure'>
			<include-if condition="spec.flags.J9VM_INTERP_BYTECODE_PREVERIFICATION"/>
		</export>
		<export name='j9bcv_createVerifyErrorString'/>
		<export name='j9bcv_checkClassLoadingConstraintsForSignature'/>
		<export name='j9bcv_checkClassLoadingConstraintForName'/>
		<export name='j9bcv_satisfyClassLoadingConstraint'/>
		<export name='j9bcv_J9VMDllMain'/>
		<export name='j9bcv_recordClassRelationshipSnippet'/>
		<export name='j9bcv_processClassRelationshipSnippets'/>
		<export name='j9bcv_storeClassRelationshipSnippetsToSharedCache'/>
		<export name='j9bcv_fetchClassRelationshipSnippetsFromSharedCache'/>
		<export name='j9bcv_recordClassRelationship'/>
		<export name='j9bcv_validateClassRelationships'/>
		<export name='j9bcv_hashClassRelationshipTableNew'/>
		<export name='j9bcv_hashClassRelationshipTableFree'/>
	</exports>

	<artifact type="static" name="j9bcv" bundle="jvm" loadgroup="">
		<include-if condition="spec.flags.module_bcverify" />
		<options>
			<option name="isRequired"/>
			<option name="requiresPrimitiveTable"/>
			<option name="prototypeHeaderFileNames" data="j9protos.h"/>
			<option name="dllDescription" data="Verify"/>
		</options>
		<phase>core j2se</phase>
		<exports>
			<group name="all"/>
		</exports>
		<flags>
			<flag name="-O3" asmflag="false" definition="false">
				<include-if condition="spec.zos_390-64.*"/>
				<include-if condition="spec.zos_390.*"/>
			</flag>
			<flag name="J9_INTERNAL_TO_VM"/>
		</flags>
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
			<include path="j9gcinclude"/>
			<include path="$(OMR_DIR)/gc/include" type="relativepath"/>
			<include path="j9shr_include"/>
		</includes>
		<makefilestubs>
			<makefilestub data="UMA_TREAT_WARNINGS_AS_ERRORS=1"/>
		</makefilestubs>
		<objects>
			<object name="bcverify"/>
			<object name="classrelationships"/>
			<object name="clconstraints"/>
			<object name="rtverify"/>
			<object name="staticverify"/>
			<object name="ut_j9bcverify"/>
			<object name="vrfyconvert"/>
			<object name="vrfyhelp"/>	
		</objects>
		<libraries>
			<library name="j9verutil"/>
			<library name="j9util"/>
			<library name="j9utilcore"/>
			<library name="j9avl" type="external"/>
			<library name="j9hashtable" type="external"/>						
			<library name="j9pool" type="external"/>
			<library name="j9thr"/>
			<library name="j9stackmap"/>
		</libraries>
	</artifact>


</module>
