
*.DS_STORE
*.DS_Store
*.swp
*~
#*
*.o
*.o.*.*.*
*.so
*.a
*.dbg
*.hold
*.x
*.obj
*.lib
*.res
*.pdb
*.depend.mk
*.d
*.u
*.linkmap
*.lst
*.err
*.asmlist
*.ipp
*.aspp
buildDate.c
lmap
.project
.settings
.cproject
TRBuildName.cpp
*.orig
*.rej
*.s
._*
nohup.out
tags
TAGS
*.pyc

/bin
/GPATH
/GRTAGS
/GSYMS
/GTAGS
objs/
