<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2001, 2017 IBM Corp. and others

  This program and the accompanying materials are made available under
  the terms of the Eclipse Public License 2.0 which accompanies this
  distribution and is available at https://www.eclipse.org/legal/epl-2.0/
  or the Apache License, Version 2.0 which accompanies this distribution and
  is available at https://www.apache.org/licenses/LICENSE-2.0.

  This Source Code may also be made available under the following
  Secondary Licenses when the conditions for such availability set
  forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
  General Public License, version 2 with the GNU Classpath
  Exception [1] and GNU General Public License, version 2 with the
  OpenJDK Assembly Exception [2].

  [1] https://www.gnu.org/software/classpath/license.html
  [2] http://openjdk.java.net/legal/assembly-exception.html

  SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->

<module>
	<artifact type="executable" name="vmtest" >
		<include-if condition="spec.flags.module_porttest" />
		<options>
			<option name="dumpMasterPrimitiveTable"/>
		</options>
		<phase>util</phase>
		<flags>
			<flag name="J9VM_TEST"/>
		</flags>
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
			<include path="j9gcinclude"/>
			<include path="$(OMR_DIR)/gc/include" type="relativepath"/>
			<include path="j9util"/>
		</includes>
		<makefilestubs>
			<makefilestub data="UMA_TREAT_WARNINGS_AS_ERRORS=1"/>
			<makefilestub data="UMA_DISABLE_DDRGEN=1"/>
		</makefilestubs>
		<vpaths>
			<vpath path="j9vm" pattern="description.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="KeyHashTable.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="ModularityHashTables.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="resolvefield.cpp" augmentObjects="true"/>
			<vpath path="j9vm" pattern="ObjectFieldInfo.cpp" augmentObjects="true"/>
			<vpath path="j9vm" pattern="segment.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="ut_j9vm.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="visible.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="vmthinit.c" augmentObjects="true"/>
			<vpath path="j9vm" pattern="stringhelpers.cpp" augmentObjects="true"/>
		</vpaths>
		<objects>
			<object name="resolvefield_tests"/>
			<object name="testHelpers"/>
			<object name="vmtest"/>
			<object name="vmstubs"/>
		</objects>
		<libraries>
			<library name="j9exelib"/>
			<library name="j9prt"/>
			<library name="j9verutil"/>
			<library name="j9util"/>
			<library name="j9utilcore"/>
			<library name="j9avl" type="external"/>
			<library name="j9hashtable" type="external"/>
			<library name="j9thr"/>
			<library name="j9stackmap"/>
			<library name="j9pool" type="external"/>
			<library name="j9simplepool"/>
			<library name="j9bcv"/>
			<library name="j9dyn"/>
			<library name="j9hookable">
				<include-if condition="spec.flags.J9VM_OPT_ZIP_SUPPORT"/>
			</library>
			<library name="j9vm"/>
		</libraries>
	</artifact>
</module>