<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2007, 2018 IBM Corp. and others

  This program and the accompanying materials are made available under
  the terms of the Eclipse Public License 2.0 which accompanies this
  distribution and is available at https://www.eclipse.org/legal/epl-2.0/
  or the Apache License, Version 2.0 which accompanies this distribution and
  is available at https://www.apache.org/licenses/LICENSE-2.0.

  This Source Code may also be made available under the following
  Secondary Licenses when the conditions for such availability set
  forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
  General Public License, version 2 with the GNU Classpath
  Exception [1] and GNU General Public License, version 2 with the
  OpenJDK Assembly Exception [2].

  [1] https://www.gnu.org/software/classpath/license.html
  [2] http://openjdk.java.net/legal/assembly-exception.html

  SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->

<module xmlns:xi="http://www.w3.org/2001/XInclude">
	<exports group="all">
		<export name="JNI_CreateJavaVM" />
		<export name="JNI_GetCreatedJavaVMs" />
		<export name="JNI_GetDefaultJavaVMInitArgs" />
	</exports>

	<artifact type="shared" name="jvm" scope="harmony" loadgroup="" buildlocal="true" appendrelease="false">
		<include-if condition="spec.flags.opt_harmony" />
		<options>
			<option name="linuxVersionName" data ="JVM_2.3" />
		</options>
		<phase>core quick j2se</phase>
		<dependencies>
			<dependency name="generate_j9vm"/>
		</dependencies>
		<exports>
			<group name="all"/>
		</exports>
		<flags>
			<flag name="HARMONY_VM"/>
		</flags>
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
			<include path="harmony_include"/>
			<include path="$(OMR_DIR)/gc/include" type="relativepath"/>
			<include path="j9gcgluejava"/>
		</includes>
		<makefilestubs>
			<makefilestub data="UMA_DISABLE_DDRGEN=1"/>
		</makefilestubs>
		<vpaths>
			<vpath path="jvm" pattern="%.c" augmentIncludes="true"/>
			<vpath path="jvm" pattern="%.asm"/>
			<vpath path="jvm" pattern="%.s"/>
		</vpaths>
		<objects>
			<object name="jvm"/>
			<object name="ut_j9scar"/>
			<object name="harmony_vm"/>
			<object name="j9memcategories"/>
		</objects>
		<libraries>
			<library name="omrsig">
				<include-if condition="spec.flags.J9VM_PORT_OMRSIG_SUPPORT"/>
			</library>
			<library name="socket" type="macro"/>
			<library name="j9exelib"/>
			<library name="j9util"/>
			<library name="j9utilcore"/>
			<library name="j9avl" type="external"/>
			<library name="j9hashtable" type="external"/>
			<library name="j9pool" type="external"/>
			<library name="j9vmi"/>
			<library name="hyprt"/>
			<library name="hyprtshim"/>
			<!--  for advance toolchain pthread must be last in the link order -->
			<library name="pthread" type="system">
				<include-if condition="spec.linux.* and not spec.linux_ztpf.*"/>
			</library>
		</libraries>
	</artifact>
</module>
