<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2016, 2019 IBM Corp. and others

  This program and the accompanying materials are made available under
  the terms of the Eclipse Public License 2.0 which accompanies this
  distribution and is available at https://www.eclipse.org/legal/epl-2.0/
  or the Apache License, Version 2.0 which accompanies this distribution and
  is available at https://www.apache.org/licenses/LICENSE-2.0.

  This Source Code may also be made available under the following
  Secondary Licenses when the conditions for such availability set
  forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
  General Public License, version 2 with the GNU Classpath
  Exception [1] and GNU General Public License, version 2 with the
  OpenJDK Assembly Exception [2].

  [1] https://www.gnu.org/software/classpath/license.html
  [2] http://openjdk.java.net/legal/assembly-exception.html

  SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JLM_Tests_Suite" parallel="none" verbose="2">
	<listeners>
		<listener class-name="org.openj9.test.util.IncludeExcludeTestAnnotationTransformer" />
	</listeners>
	<test name="TestCompilationMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestCompilationMXBean" />
		</classes>
	</test>
	<test name="TestGarbageCollectorMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestGarbageCollectorMXBean" />
		</classes>
	</test>
	<test name="TestMemoryManagerMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestMemoryManagerMXBean" />
		</classes>
	</test>
	<test name="TestMemoryMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestMemoryMXBean" />
		</classes>
	</test>
	<test name="TestOperatingSystemMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestOperatingSystemMXBean" />
		</classes>
	</test>
	<test name="TestRuntimeMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestRuntimeMXBean" />
		</classes>
	</test>
	<test name="TestThreadMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestThreadMXBean" />
		</classes>
	</test>
	<test name="TestClassLoadingMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestClassLoadingMXBean" />
		</classes>
	</test>
	<test name="TestMemoryPoolMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestMemoryPoolMXBean" />
		</classes>
	</test> <!-- JLM_Tests -->
	<test name="JLM_Tests_class">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestLockInfo" />
			<class name="org.openj9.test.java.lang.management.TestManagementPermission" />
			<class name="org.openj9.test.java.lang.management.TestMemoryNotificationInfo" />
			<class name="org.openj9.test.java.lang.management.TestMemoryUsage" />
			<class name="org.openj9.test.java.lang.management.TestMonitorInfo" />
			<class name="org.openj9.test.java.lang.management.TestThreadInfo" />
			<class name="org.openj9.test.java.lang.management.TestManagementFactory" />
		</classes>
	</test> <!-- JLM_Tests -->
	<test name="JLM_Tests_IBMinternal">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestMisc" />
			<class name="org.openj9.test.java.lang.management.TestManagementUtils" />
			<class name="org.openj9.test.java.lang.management.TestLoggingMXBean" />
			<!-- //not run in rtctest <class name="org.openj9.test.java.lang.management.TestJvmCpuMonitorMXBeanEx"/> -->
			<!-- // This test runs fine when executed standalone, but when // executed
				in batch (with other tests), it fails. <class name="org.openj9.test.java.lang.management.TestSharedClassMemoryMXBean"/> -->
			<!-- // Fixing this test suite is out of scope - neither are these //
				tests related to DynamicMBean V. StandardMBean nor do they // seem to have
				simple fixes. <class name="org.openj9.test.java.lang.management.TestRegression"/> -->
		</classes>
	</test> <!-- JLM_Tests -->

	<test name="testSoftMxLocal">
		<classes>
			<class name="j9vm.test.softmx.SoftmxLocalTest" />
		</classes>
	</test>
	<test name="testSoftMxRemote">
		<classes>
			<class name="j9vm.test.softmx.SoftmxRemoteTest" />
		</classes>
	</test>
	<test name="testSoftMxDisclaimMemory">
		<parameter name="SoftmxAdvanceTest_iteration" value="5" />
		<classes>
			<class name="j9vm.test.softmx.SoftmxAdvanceTest" />
		</classes>
	</test>
	<test name="testSoftMxDisclaimMemory_GC">
		<classes>
			<class name="j9vm.test.softmx.SoftmxAdvanceTest_GC_Only" />
		</classes>
	</test>
	<test name="SoftmxRASTest1">
		<classes>
			<class name="j9vm.test.softmx.SoftmxRASTest1" />
		</classes>
	</test>
	<test name="SoftmxRASTest2">
		<classes>
			<class name="j9vm.test.softmx.SoftmxRASTest2" />
		</classes>
	</test>
	<test name="testOSMXBean">
		<classes>
			<class name="org.openj9.test.management.TestOperatingSystemMXBean" />
		</classes>
	</test>
	<test name="testGuestOSMXBean">
		<classes>
			<class name="org.openj9.test.management.GuestOSMXBeanTest" />
		</classes>
	</test>
	<test name="testJCMMXBean">
		<classes>
			<class name="org.openj9.test.management.JvmCpuMonitorMXBeanTest" />
		</classes>
	</test>
	<test name="testOpenJ9DiagnosticsMXBean">
		<classes>
			<class name="org.openj9.test.java.lang.management.TestOpenJ9DiagnosticsMXBean" />
		</classes>
	</test>
	<test name="testCpuUtilization_testSingleCpuLoadObject">
		<classes>
			<class name="org.openj9.test.management.TestGetSystemCpuLoad">
				<methods>
					<include name="testSingleCpuLoadObject" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="testCpuUtilization_testMxBean">
		<classes>
			<class name="org.openj9.test.management.TestGetSystemCpuLoad">
				<methods>
					<include name="testMxBean" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="testSoftMxUserScenario">
		<classes>
			<class name="org.openj9.test.softmx.SoftmxUserScenarioTest" />
		</classes>
	</test>
</suite> <!-- JLM_Tests_Suite -->
