<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Copyright (c) 2009, 2017 IBM Corp. and others
	
	This program and the accompanying materials are made available under
	the terms of the Eclipse Public License 2.0 which accompanies this
	distribution and is available at https://www.eclipse.org/legal/epl-2.0/
	or the Apache License, Version 2.0 which accompanies this distribution and
	is available at https://www.apache.org/licenses/LICENSE-2.0.
	
	This Source Code may also be made available under the following
	Secondary Licenses when the conditions for such availability set
	forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
	General Public License, version 2 with the GNU Classpath
	Exception [1] and GNU General Public License, version 2 with the
	OpenJDK Assembly Exception [2].
	
	[1] https://www.gnu.org/software/classpath/license.html
	[2] http://openjdk.java.net/legal/assembly-exception.html

	SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
-->

<module xmlns:xi="http://www.w3.org/2001/XInclude">

	<xi:include href="../uma/sun_misc_Unsafe_exports.xml"></xi:include>
	<xi:include href="../uma/unsafemem_inl_exports.xml"></xi:include>
	<xi:include href="../uma/se6_vm-side_natives_exports.xml"></xi:include>
	<xi:include href="../uma/se6_vm-side_lifecycle_exports.xml"></xi:include>
	<xi:include href="../uma/attach_exports.xml"></xi:include>
	<xi:include href="../uma/se7_exports.xml"></xi:include>
	<xi:include href="../uma/se626_orb_ludcl_exports.xml"></xi:include>
	<xi:include href="../uma/jithelpers_jni_exports.xml"></xi:include>
	<xi:include href="../uma/rcm_exports.xml"></xi:include>
	<xi:include href="../uma/se8_exports.xml"></xi:include>
	<xi:include href="../uma/se829_exports.xml"></xi:include>
	<xi:include href="../uma/se9_exports.xml"></xi:include>

	<xi:include href="../uma/vendor_jcl_exports.xml">
		<xi:fallback/>
	</xi:include>

	<xi:include href="../uma/sun_misc_Unsafe_objects.xml"></xi:include>	
	<xi:include href="../uma/se6_vm-side_natives_objects.xml"></xi:include>
	<xi:include href="../uma/se6_vm-side_lifecycle_objects.xml"></xi:include>
	<xi:include href="../uma/attach_objects.xml"></xi:include>
	<xi:include href="../uma/se7_objects.xml"></xi:include>
	<xi:include href="../uma/se626_orb_ludcl_objects.xml"></xi:include>
	<xi:include href="../uma/jithelpers_objects.xml"></xi:include>
	<xi:include href="../uma/rcm_objects.xml"></xi:include>
	<xi:include href="../uma/se8_objects.xml"></xi:include>
	<xi:include href="../uma/se9_objects.xml"></xi:include>

	<!-- vendor_jcl.xml can contain vendor specific configuration -->
	<xi:include href="../uma/vendor_jcl.xml">
		<xi:fallback>
			<xi:include href="../uma/vendor_jcl_default.xml"></xi:include>
		</xi:fallback>
	</xi:include>

	<artifact type="shared" name="jclse9_" scope="b165" loadgroup="jcl" buildlocal="true">
		<include-if condition="spec.flags.build_java7"/>
		<options>
			<option name="isRequired">
				<include-if condition="spec.jcl.Sidecar"/>
			</option>
			<option name="requiresPrimitiveTable"/>
			<option name="prototypeHeaderFileNames" data="j9protos.h jclprots.h"/>
			<option name="requiresLockFixups386"/>
			<option name="dllDescription" data="Java SE 9"/>
		</options>
		<phase>core j2se</phase>
		
		<exports>
			<group name="se6_vm-side_lifecycle"/>
			<group name="se6_vm-side_natives"/>
			<group name="jithelpers"/>
			<group name="sun_misc_Unsafe"/>
			<group name="sun_misc_Unsafe_inl"/>
			<group name="attach">
				<include-if condition="spec.flags.opt_sidecar"/>
			</group>
			<group name="se7"/>
			<group name="se626_orb_ludcl"/>
			<group name="se8"/>
			<group name="se829"/>
			<group name="se9" />
		</exports>
		
		<flags>
			<flag name="J9VM_JCL_SE9"/>
		</flags>
		
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
			<include path="j9zlib"/>
			<include path="j9util"/>
			<include path="j9gcinclude"/>
			<include path="$(OMR_DIR)/gc/include" type="relativepath"/>
			<include path="j9gcgluejava"/>
			<include path="jvm"/>
			<include path="j9shr_include"/>
		</includes>

		<makefilestubs>
			<makefilestub data="UMA_ENABLE_ALL_WARNINGS=1"/>
			<makefilestub data="UMA_TREAT_WARNINGS_AS_ERRORS=1"/>
			<makefilestub data="ifeq ($(OPENJ9_BUILD),true)"/>
			<makefilestub data="vm_scar$(UMA_DOT_O) : CFLAGS += -DOPENJ9_BUILD"/>
			<makefilestub data="endif"/>
		</makefilestubs>

		<vpaths>
			<vpath pattern="%" path="../unix" augmentIncludes="true" type="relativepath">
				<exclude-if condition="spec.win_x86.*"/>
			</vpath>
			<vpath pattern="%" path="../win32" augmentIncludes="true" type="relativepath">
				<include-if condition="spec.win_x86.*"/>
			</vpath>
			<vpath pattern="%" path="../crypto" augmentIncludes="true" type="relativepath"/>
			<vpath pattern="%" path="../filerms" augmentIncludes="true" type="relativepath"/>
			<vpath pattern="%" path="../filesys" augmentIncludes="true" type="relativepath"/>
			<vpath pattern="%" path="../common" augmentIncludes="true" type="relativepath"/>
			<vpath pattern="%" path="../inl" augmentIncludes="true" type="relativepath"/>
			<vpath pattern="%" path="../." augmentIncludes="true" type="relativepath"/>
		</vpaths>
		
		<objects>
			<group name="se6_vm-side_lifecycle"/>
			<group name="se6_vm-side_natives"/>
			<group name="jithelpers"/>
			<group name="sun_misc_Unsafe"/>
			<group name="attach">
				<include-if condition="spec.flags.opt_sidecar"/>
			</group>
			<group name="se7"/>
			<group name="se626_orb_ludcl"/>

			<group name="se8"/>
			<group name="se9"/>
			
			<group name="vendor_jcl"/>
			
			<!-- Groups must be before Objects -->
			<object name="j9vmconstantpool_se9" />
		</objects>

		<libraries>
			<library name="omrsig">
				<include-if condition="spec.flags.J9VM_PORT_OMRSIG_SUPPORT"/>
			</library>
			<library name="pthread" type="system">
				<include-if condition="spec.aix_.*"/>
			</library>
			<library name="psapi.lib" type="system" delayload="true">
				<include-if condition="spec.win_.*"/>
			</library>
			<library name="pdh.lib" type="system" delayload="true">
				<include-if condition="spec.win_.*"/>
			</library>
			<library name="j9hookable"/>
			<library name="j9zlib"/>
			<library name="j9util"/>
			<library name="j9utilcore"/>
			<library name="j9avl" type="external"/>
			<library name="j9hashtable" type="external"/>						
			<library name="j9pool" type="external"/>
			<library name="j9thr"/>
			<library name="j9vmi"/>
			<library name="socket" type="macro"/>
			<library name="sunvmi"/>
		</libraries>
	</artifact>
</module>
