<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2016, 2018 IBM Corp. and others

  This program and the accompanying materials are made available under
  the terms of the Eclipse Public License 2.0 which accompanies this
  distribution and is available at https://www.eclipse.org/legal/epl-2.0/
  or the Apache License, Version 2.0 which accompanies this distribution and
  is available at https://www.apache.org/licenses/LICENSE-2.0.

  This Source Code may also be made available under the following
  Secondary Licenses when the conditions for such availability set
  forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
  General Public License, version 2 with the GNU Classpath
  Exception [1] and GNU General Public License, version 2 with the
  OpenJDK Assembly Exception [2].

  [1] https://www.gnu.org/software/classpath/license.html
  [2] http://openjdk.java.net/legal/assembly-exception.html

  SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JIT_Test suite" parallel="none" verbose="2">
  <listeners>
      <listener class-name="org.openj9.test.util.IncludeExcludeTestAnnotationTransformer"/>
  </listeners>

  <!-- jit.test.jitt tests start here -->
  <test name="finalizerTest">
    <classes>
      <class name="jit.test.finalizer.TestObject"/>
    </classes>
  </test>
  <test name="stringConcatOptTest">
    <classes>
      <class name="jit.test.stringconcat.StringConcatTest"/>
    </classes>
  </test>
  <test name="arrayTest">
    <classes>
      <class name="jit.test.jitt.array.byteArrayLoadStore"/>
      <class name="jit.test.jitt.array.charArrayLoadStore"/>
      <class name="jit.test.jitt.array.intArrayLoadStore"/>
      <class name="jit.test.jitt.array.intArrayLoadStoreConstIndices"/>
      <class name="jit.test.jitt.array.shortArrayLoadStore"/>
    </classes>
  </test>
  <test name="assemblerTest">
    <classes>
      <class name="jit.test.jitt.assembler.SwitchTest2"/>
      <class name="jit.test.jitt.assembler.LongJavaShifts"/>
      <class name="jit.test.jitt.assembler.LongJavaArithmetic"/>
      <class name="jit.test.jitt.assembler.SwitchTest"/>
    </classes>
  </test>
  <test name="castingTest">
    <classes>
      <class name="jit.test.jitt.casting.Cast001"/>
      <class name="jit.test.jitt.casting.CheckCast"/>
      <class name="jit.test.jitt.casting.I2BCast"/>
      <class name="jit.test.jitt.casting.I2CCast"/>
      <class name="jit.test.jitt.casting.I2SCast"/>
      <class name="jit.test.jitt.casting.InstanceOf"/>
      <class name="jit.test.jitt.casting.InstOf001"/>
      <class name="jit.test.jitt.casting.L2BCast"/>
      <class name="jit.test.jitt.casting.L2ICast"/>
      <class name="jit.test.jitt.casting.L2CCast"/>
      <class name="jit.test.jitt.casting.L2SCast"/>
    </classes>
  </test>
  <test name="cfgTest">
    <classes>
      <class name="jit.test.jitt.cfg.nestedExceptions"/>
    </classes>
  </test>
  <test name="crashesTest">
    <classes>
      <class name="jit.test.jitt.crashes.BoundsCheck"/>
      <class name="jit.test.jitt.crashes.CharacterConverterInt3"/>
      <class name="jit.test.jitt.crashes.DivideByZero"/>
      <class name="jit.test.jitt.crashes.HangOnFloatPrint"/>
      <class name="jit.test.jitt.crashes.InvalidArrayStoreNotCaught"/>
      <class name="jit.test.jitt.crashes.LongDivideByZero"/>
      <class name="jit.test.jitt.crashes.LongRemainderByZero"/>
      <class name="jit.test.jitt.crashes.RemainderByZero"/>
    </classes>
  </test>
  <test name="ctresolvesTest">
    <classes>
      <class name="jit.test.jitt.ctresolves.ClassInSamePackage"/>
      <class name="jit.test.jitt.ctresolves.SpecialMethodSameClass"/>
      <class name="jit.test.jitt.ctresolves.StaticFieldSameClass"/>
      <class name="jit.test.jitt.ctresolves.StaticMethodSameClass"/>
    </classes>
  </test>
  <test name="exceptionsTest">
    <classes>
      <class name="jit.test.jitt.exceptions.ExceptionLocal"/>
      <class name="jit.test.jitt.exceptions.ExceptionScoped"/>
      <class name="jit.test.jitt.exceptions.InterpJitException"/>
      <class name="jit.test.jitt.exceptions.JitInterpException"/>
      <class name="jit.test.jitt.exceptions.RaiseBoundsCheck"/>
      <class name="jit.test.jitt.exceptions.RaiseNullCheck"/>
      <class name="jit.test.jitt.exceptions.readLineBug"/>
      <class name="jit.test.jitt.exceptions.SanityE0"/>
      <class name="jit.test.jitt.exceptions.SanityE1_ExceptionCatchOnly"/>
      <class name="jit.test.jitt.exceptions.SanityE2_SimpleTryCatchFinally"/>
      <class name="jit.test.jitt.exceptions.SanityE3_TryCatchFinallyNested1"/>
      <class name="jit.test.jitt.exceptions.SanityE4_TryCatchFinallyNested2"/>
      <class name="jit.test.jitt.exceptions.SanityE5_TryCatchFinallyNested3"/>
      <class name="jit.test.jitt.exceptions.SanityE6_TryCatchFinallyNested4"/>
    </classes>
  </test>
  <test name="fieldsTest">
    <classes>
      <class name="jit.test.jitt.fields.GetArrayField"/>
      <class name="jit.test.jitt.fields.GetField"/>
      <class name="jit.test.jitt.fields.GetStatic"/>
      <class name="jit.test.jitt.fields.PutStatic"/>
    </classes>
  </test>
  <test name="floatsTest">
    <classes>
      <class name="jit.test.jitt.floats.DoubleAdditionTest1"/>
      <class name="jit.test.jitt.floats.DoubleArrayLoadTest1"/>
      <class name="jit.test.jitt.floats.DoubleArrayLoadTest2"/>
      <class name="jit.test.jitt.floats.DoubleArrayStoreTest1"/>
      <class name="jit.test.jitt.floats.DoubleArrayStoreTest2"/>
      <class name="jit.test.jitt.floats.DoubleDivisionTest1"/>
      <class name="jit.test.jitt.floats.DoubleSubtractionTest1"/>
      <class name="jit.test.jitt.floats.DoubleToFloat"/>
      <class name="jit.test.jitt.floats.DoubleToIntegerTest1"/>
      <class name="jit.test.jitt.floats.DoubleToLongTest1"/>
      <class name="jit.test.jitt.floats.DoubleToOthers"/>
      <class name="jit.test.jitt.floats.DoubleToOthersTest2"/>
      <class name="jit.test.jitt.floats.FloatAdditionTest1"/>
      <class name="jit.test.jitt.floats.FloatArrayLoadTest1"/>
      <class name="jit.test.jitt.floats.FloatArrayLoadTest2"/>
      <class name="jit.test.jitt.floats.FloatArrayStoreTest1"/>
      <class name="jit.test.jitt.floats.FloatArrayStoreTest2"/>
      <class name="jit.test.jitt.floats.FloatDivisionTest1"/>
      <class name="jit.test.jitt.floats.FloatMultiplicationTest1"/>
      <class name="jit.test.jitt.floats.FloatStaticTest"/>
      <class name="jit.test.jitt.floats.FloatSubtractionTest1"/>
      <class name="jit.test.jitt.floats.FloatToDoubleNotStrict"/>
      <class name="jit.test.jitt.floats.FloatToDoubleStrict"/>
      <class name="jit.test.jitt.floats.FloatToInteger"/>
      <class name="jit.test.jitt.floats.FloatToIntegerTest1"/>
      <class name="jit.test.jitt.floats.FloatToLongTest1"/>
      <class name="jit.test.jitt.floats.FloatToOthers"/>
      <class name="jit.test.jitt.floats.FloatToOthersTest2"/>
      <class name="jit.test.jitt.floats.OthersToDouble"/>
      <class name="jit.test.jitt.floats.OthersToDoubleTest2"/>
      <class name="jit.test.jitt.floats.OthersToFloat"/>
      <class name="jit.test.jitt.floats.OthersToFloatTest2"/>
      <class name="jit.test.jitt.floats.StaticFloatAndDoubleTest1"/>
    </classes>
  </test>
  <test name="gcTest">
    <classes>
      <class name="jit.test.jitt.gc.RemberedArray"/>
      <class name="jit.test.jitt.gc.RemberedField"/>
      <class name="jit.test.jitt.gc.RemberedStatic"/>
      <class name="jit.test.jitt.gc.Scavenge"/>
    </classes>
  </test>
  <test name="geCastingTest">
    <classes>
      <class name="jit.test.jitt.geCasting.clearHighOrderBits"/>
      <class name="jit.test.jitt.geCasting.signExtendedHighOrderBits"/>
    </classes>
  </test>
  <test name="immedOpTest">
    <classes>
      <class name="jit.test.jitt.immedOp.addImmed"/>
      <class name="jit.test.jitt.immedOp.andImmed"/>
      <class name="jit.test.jitt.immedOp.cmpImmed"/>
      <class name="jit.test.jitt.immedOp.orImmed"/>
      <class name="jit.test.jitt.immedOp.xorImmed"/>
    </classes>
  </test>
  <test name="invokeTest">
    <classes>
      <class name="jit.test.jitt.invoke.InterfaceTest1"/>
      <class name="jit.test.jitt.invoke.InterfaceTest2"/>
      <class name="jit.test.jitt.invoke.InterfaceTest3"/>
      <class name="jit.test.jitt.invoke.InterfaceTest4"/>
      <class name="jit.test.jitt.invoke.InterfaceTest5"/>
      <class name="jit.test.jitt.invoke.InterfaceTest6"/>
      <class name="jit.test.jitt.invoke.InterfaceTest7"/>
      <class name="jit.test.jitt.invoke.InvokeInterface"/>
      <class name="jit.test.jitt.invoke.InvokeStatic"/>
      <class name="jit.test.jitt.invoke.InvokeVirtual"/>
    </classes>
  </test>
  <test name="mathTest">
    <classes>
      <class name="jit.test.jitt.math.Div01" />
      <class name="jit.test.jitt.math.Div02" />
      <class name="jit.test.jitt.math.Div03" />
      <class name="jit.test.jitt.math.Div04" />
      <class name="jit.test.jitt.math.Div05" />
      <class name="jit.test.jitt.math.Div06"/>
      <class name="jit.test.jitt.math.Div07" />
      <class name="jit.test.jitt.math.Div08" />
      <class name="jit.test.jitt.math.IntegerAdd" />
      <class name="jit.test.jitt.math.IntegerMultiply" />
      <class name="jit.test.jitt.math.intSpecialCompare" />
      <class name="jit.test.jitt.math.longCompare" />
      <class name="jit.test.jitt.math.LongMultiply" />
      <class name="jit.test.jitt.math.longVarCompare"/>
      <class name="jit.test.jitt.math.LongXOR"/>
    </classes>
  </test>
  <test name="math2Test">
    <classes>
      <class name="jit.test.jitt.math2.ByteCompare"/>
      <class name="jit.test.jitt.math2.ByteToLong"/>
      <class name="jit.test.jitt.math2.CharToInt"/>
      <class name="jit.test.jitt.math2.IntAndLongDivision"/>
      <class name="jit.test.jitt.math2.IntegerAddition"/>
      <class name="jit.test.jitt.math2.IntegerANDTest"/>
      <class name="jit.test.jitt.math2.IntegerCompare"/>
      <class name="jit.test.jitt.math2.IntegerMultiply"/>
      <class name="jit.test.jitt.math2.IntegerSubtraction"/>
      <class name="jit.test.jitt.math2.IntegerToByte"/>
      <class name="jit.test.jitt.math2.IntegerToByteAndShort"/>
      <class name="jit.test.jitt.math2.IntegerToFloat"/>
      <class name="jit.test.jitt.math2.IntegerToLong"/>
      <class name="jit.test.jitt.math2.IntegerXOR"/>
      <class name="jit.test.jitt.math2.IntStaticTest"/>
      <class name="jit.test.jitt.math2.LongAddition"/>
      <class name="jit.test.jitt.math2.LongANDTest"/>
      <class name="jit.test.jitt.math2.LongCompare"/>
      <class name="jit.test.jitt.math2.LongCompare2"/>
      <class name="jit.test.jitt.math2.LongDivision"/>
      <class name="jit.test.jitt.math2.LongDivisionTest1"/>
      <class name="jit.test.jitt.math2.LongMultiply"/>
      <class name="jit.test.jitt.math2.LongORTest"/>
      <class name="jit.test.jitt.math2.LongRemainderTest1"/>
      <class name="jit.test.jitt.math2.LongSubtraction"/>
      <class name="jit.test.jitt.math2.LongToFloat"/>
      <class name="jit.test.jitt.math2.LongToInteger"/>
      <class name="jit.test.jitt.math2.LongToOthersConversion"/>
      <class name="jit.test.jitt.math2.LongXOR"/>
      <class name="jit.test.jitt.math2.NegationTest"/>
    </classes>
  </test>
  <test name="miscTest">
    <classes>
      <class name="jit.test.jitt.misc.AsyncCheck"/>
      <class name="jit.test.jitt.misc.Constructor"/>
      <class name="jit.test.jitt.misc.SanityS1_Strings"/>
      <class name="jit.test.jitt.misc.SanityS2_Strings"/>
      <class name="jit.test.jitt.misc.WriteBarrier"/>
    </classes>
  </test>
  <test name="os390LinkageTest">
    <classes>
      <class name="jit.test.jitt.os390.linkage.FloatArgTest"/>
      <class name="jit.test.jitt.os390.linkage.FloatDoubleArgTest1"/>
      <class name="jit.test.jitt.os390.linkage.FloatDoubleArgTest2"/>
      <class name="jit.test.jitt.os390.linkage.IntArgTest"/>
      <class name="jit.test.jitt.os390.linkage.LongArgTest1"/>
      <class name="jit.test.jitt.os390.linkage.LongArgTest3"/>
      <class name="jit.test.jitt.os390.linkage.LongArgTest2"/>
      <class name="jit.test.jitt.os390.linkage.LongArgTest4"/>
    </classes>
  </test>
  <test name="promotionTest">
    <classes>
      <class name="jit.test.jitt.promotion.PromoteStatic"/>
      <class name="jit.test.jitt.promotion.PromoteStatic2"/>
      <class name="jit.test.jitt.promotion.PromoteStatic3"/>
      <class name="jit.test.jitt.promotion.PromoteStatic4"/>
      <class name="jit.test.jitt.promotion.PromoteVirt"/>
    </classes>
  </test>
  <test name="resolvesTest">
    <classes>
      <class name="jit.test.jitt.resolves.StaticString"/>
      <class name="jit.test.jitt.resolves.UnresolvedClassRef"/>
      <class name="jit.test.jitt.resolves.UnresolvedConstant"/>
      <class name="jit.test.jitt.resolves.UnresolvedConstant2"/>
      <class name="jit.test.jitt.resolves.UnresolvedConstructor"/>
      <class name="jit.test.jitt.resolves.UnresolvedFloatConstant"/>
      <class name="jit.test.jitt.resolves.UnresolvedGetField"/>
      <class name="jit.test.jitt.resolves.UnresolvedGetField1b"/>
      <class name="jit.test.jitt.resolves.UnresolvedGetField2"/>
      <class name="jit.test.jitt.resolves.UnresolvedGetField2b"/>
      <class name="jit.test.jitt.resolves.UnresolvedGetField3"/>
      <class name="jit.test.jitt.resolves.UnresolvedGetStatic"/>
      <class name="jit.test.jitt.resolves.UnresolvedJavaMethod"/>
      <class name="jit.test.jitt.resolves.UnresolvedJavaStaticMethod"/>
      <class name="jit.test.jitt.resolves.UnresolvedLongConstant"/>
      <class name="jit.test.jitt.resolves.UnresolvedNewClass"/>
      <class name="jit.test.jitt.resolves.UnresolvedNewClass2"/>
      <class name="jit.test.jitt.resolves.UnresolvedPutField2"/>
      <class name="jit.test.jitt.resolves.UnresolvedPutField2b"/>
      <class name="jit.test.jitt.resolves.UnresolvedPutField3"/>
      <class name="jit.test.jitt.resolves.UnresolvedPutStaticField"/>
      <class name="jit.test.jitt.resolves.UnresolvedPutStaticField2"/>
      <class name="jit.test.jitt.resolves.UnresolvedSpecialMethod"/>
      <class name="jit.test.jitt.resolves.UnresolvedStatic"/>
      <class name="jit.test.jitt.resolves.UnresolvedStaticField"/>
      <class name="jit.test.jitt.resolves.UnresolvedStaticField2"/>
      <class name="jit.test.jitt.resolves.UnresolvedStaticMethod"/>
      <class name="jit.test.jitt.resolves.UnresolvedVirtualMethod"/>
    </classes>
  </test>
  <test name="sieveTest">
    <classes>
      <class name="jit.test.jitt.sieve.Sieve01"/>
      <class name="jit.test.jitt.sieve.Sieve02"/>
      <class name="jit.test.jitt.sieve.Sieve03"/>
    </classes>
  </test>
  <test name="transitionsTest">
    <classes>
      <class name="jit.test.jitt.transitions.JitInterpStatic"/>
      <class name="jit.test.jitt.transitions.JitInterpStaticI5I"/>
      <class name="jit.test.jitt.transitions.JitInterpVirt"/>
    </classes>
  </test>

  <!-- jit.test.jar tests start here -->
  <test name="JarTesterTest">
    <classes>
      <class name= "jit.test.jar.JarTester"/>
    </classes>
  </test>

  <!-- jit.test.tr tests start here -->
  <test name="BigDecimalTest">
    <classes>
      <class name="jit.test.tr.BigDecimal.BDArithmeticTest"/>
      <class name="jit.test.tr.BigDecimal.BDRoundTest"/>
      <class name="jit.test.tr.BigDecimal.BDEncodingTest"/>
      <class name="jit.test.tr.BigDecimal.BDCompareTest"/>
      <class name="jit.test.tr.BigDecimal.BDSerializationTest"/>
    </classes>
  </test>
  <test name="chtableTest">
    <classes>
      <class name="jit.test.tr.chtable.VirtualGuardTest" />
      <class name="jit.test.tr.chtable.InnerPreexistence" />
      <class name="jit.test.tr.chtable.TestOverridden" />
      <class name="jit.test.tr.chtable.PreexistenceTest2" />
      <class name="jit.test.tr.chtable.PreexistenceTests" />
      <class name="jit.test.tr.chtable.PreexistenceTest3" />
    </classes>
  </test>
  <test name="decompositionTest">
    <classes>
      <class name="jit.test.tr.decomposition.IntegerMultiplyDecomposer" />
    </classes>
  </test>
  <test name="explicitNewInitTest">
    <classes>
      <class name="jit.test.tr.explicitNewInit.ExplicitNewInitTest" />
    </classes>
  </test>
  <test name="findLeftMostOneTest">
    <classes>
      <class name="jit.test.tr.findLeftMostOne.findLeftMostOneTests" />
    </classes>
  </test>
  <test name="fprToGprTest">
    <classes>
      <class name="jit.test.tr.fprToGpr.fprToGprTests" />
    </classes>
  </test>
  <test name="FPSimplifyTest">
    <classes>
      <class name="jit.test.tr.FPSimplify.FloatSimplifyRem" />
      <class name="jit.test.tr.FPSimplify.FloatSimplifyMul" />
      <class name="jit.test.tr.FPSimplify.Testfmadd" />
      <class name="jit.test.tr.FPSimplify.FloatSimplifySub" />
      <class name="jit.test.tr.FPSimplify.Testdmadd" />
      <class name="jit.test.tr.FPSimplify.FloatSimplifyAdd" />
      <class name="jit.test.tr.FPSimplify.TestFsqrt" />
    </classes>
  </test>
  <test name="IpaTest">
    <classes>
      <class name="jit.test.tr.ipa.IpaTest" />
    </classes>
  </test>
  <test name="liveMonitorTest">
    <classes>
      <class name="jit.test.tr.liveMonitor.monTests" />
    </classes>
  </test>
  <test name="LoadReverseTest">
    <classes>
      <class name="jit.test.tr.loadReverse.loadReverseTests" />
    </classes>
  </test>
  <test name="LongAddTest">
    <classes>
      <class name="jit.test.tr.longAdd.LongAddTest" />
    </classes>
  </test>
  <test name="LongDivisionTest">
    <classes>
      <class name="jit.test.tr.longDivision.LongDivisionTests" />
    </classes>
  </test>
  <test name="LoopTransferTest">
    <classes>
      <class name="jit.test.tr.loopTransfer.cLoopTests"/>
    </classes>
  </test>
  <test name="mathSimplifyTest">
    <classes>
      <class name="jit.test.tr.mathSimplify.PowTest" />
    </classes>
  </test>
  <test name="NewInstanceTest">
    <classes>
      <class name="jit.test.tr.newinstance.NewInstanceTests"/>
    </classes>
  </test>
  <test name="signExtensionATest">
    <classes>
      <class name="jit.test.tr.signExtensionA.SignExtElimTest" />
    </classes>
  </test>
  <test name="StringPeepholeTest">
    <classes>
      <class name="jit.test.tr.stringPeephole.BigDecimalToStringTest" />
    </classes>
  </test>
  <test name="VPTypeTest">
    <classes>
      <class name="jit.test.tr.VPTypeTests.cTypeTests" />
      <class name="jit.test.tr.VPTypeTests.ArithmeticTests" />
    </classes>
  </test>

  <!-- jit.test.hw tests start here -->
  <test name="hwTest">
    <classes>
      <class name="jit.test.hw.hw" />
    </classes>
  </test>

  <!-- jit.test.ra tests start here -->
  <test name="raTest">
    <classes>
      <class name="jit.test.ra.TestOOLSpill31Bit" />
    </classes>
  </test>

  <!-- jit.test.vich tests start here -->
  <test name="AllocationTest">
    <classes>
      <class name="jit.test.vich.Allocation" />
    </classes>
  </test>
  <test name="EqualsImplementationsTest">
    <classes>
      <class name="jit.test.vich.EqualsImplementations" />
    </classes>
  </test>
  <test name="ExceptionsTest">
    <classes>
      <class name="jit.test.vich.Exceptions" />
    </classes>
  </test>
  <test name="FibonacciTest">
    <classes>
      <class name="jit.test.vich.Fibonacci" />
    </classes>
  </test>
  <test name="GCTest">
    <classes>
      <class name="jit.test.vich.GC" />
    </classes>
  </test>
  <test name="HashEfficiencyTest">
    <classes>
      <class name="jit.test.vich.HashEfficiencyTest" />
    </classes>
  </test>
  <test name="HashtableTest">
    <classes>
      <class name="jit.test.vich.Hashtable" />
    </classes>
  </test>
  <test name="JNITest">
    <classes>
      <class name="jit.test.vich.JNI" />
    </classes>
  </test>
  <test name="JNIArrayTest">
    <classes>
      <class name="jit.test.vich.JNIArray" />
    </classes>
  </test>
  <test name="JNICallInTest">
    <classes>
      <class name="jit.test.vich.JNICallIn" />
    </classes>
  </test>
  <test name="JNIFieldsTest">
    <classes>
      <class name="jit.test.vich.JNIFields" />
    </classes>
  </test><test name="JNILocalRefTest">
    <classes>
      <class name="jit.test.vich.JNILocalRef" />
    </classes>
  </test><test name="JNIObjectArrayTest">
    <classes>
      <class name="jit.test.vich.JNIObjectArray" />
    </classes>
  </test><test name="MethodInvocationTest">
    <classes>
      <class name="jit.test.vich.MethodInvocation" />
    </classes>
  </test>
  <test name="MicrobenchTest">
    <classes>
      <class name="jit.test.vich.Microbench" />
    </classes>
  </test>
  <test name="StringsTest">
    <classes>
      <class name="jit.test.vich.Strings" />
    </classes>
  </test>
  <test name="ThreadsTest">
    <classes>
      <class name="jit.test.vich.Threads" />
    </classes>
  </test>
  <test name="CurrentTimeMillisTest">
    <classes>
      <class name="jit.test.vich.CurrentTimeMillis" />
    </classes>
  </test>
  <test name="ReadTest">
    <classes>
      <class name="jit.test.vich.ReadTest" />
    </classes>
  </test>
</suite>
<!-- Suite -->
