<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2007, 2020 IBM Corp. and others

This program and the accompanying materials are made available under
the terms of the Eclipse Public License 2.0 which accompanies this
distribution and is available at https://www.eclipse.org/legal/epl-2.0/
or the Apache License, Version 2.0 which accompanies this distribution and
is available at https://www.apache.org/licenses/LICENSE-2.0.

This Source Code may also be made available under the following
Secondary Licenses when the conditions for such availability set
forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
General Public License, version 2 with the GNU Classpath
Exception [1] and GNU General Public License, version 2 with the
OpenJDK Assembly Exception [2].

[1] https://www.gnu.org/software/classpath/license.html
[2] http://openjdk.java.net/legal/assembly-exception.html

SPDX-License-Identifier: EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception
-->
<module xmlns:xi="http://www.w3.org/2001/XInclude">
	<xi:include href="../j9vm/j9vmnatives.xml"><xi:fallback/></xi:include>

	<artifact type="target" name="generated.c" all="false">
		<dependencies>
			<dependency name="generated.c.m4"/>
			<dependency name="forwarders.m4"/>
			<dependency name="$(UMA_PATH_TO_ROOT)oti/helpers.m4"/>
		</dependencies>
		<commands>
			<command type="all" line="m4 -I$(UMA_PATH_TO_ROOT)oti generated.c.m4 > generated.c $(call CONVERT_ASCII_TO_NATIVE, generated.c)"/>
			<command type="clean" line="$(RM) generated.c"/>
		</commands>
	</artifact>

	<artifact type="target" name="generate_redirector">
		<commands>
			<command type="all" line="$(MAKE) -C $(UMA_PATH_TO_ROOT)redirector generated.c"/>
			<command type="clean" line="$(MAKE) -C $(UMA_PATH_TO_ROOT)redirector clean_generated.c"/>
		</commands>
	</artifact>

	<artifact type="shared" name="jvm" scope="redirector" loadgroup="top" buildlocal="true" appendrelease="false">
		<include-if condition="spec.flags.module_j9vm"/>
		<options>
			<!-- Need this for compatibility with older UMA versions in ifix streams. -->
			<option name="linuxVersionName" data ="JVM_2.3"/>
		</options>
		<phase>core quick j2se</phase>
		<dependencies>
			<dependency name="generate_j9vm"/>
			<dependency name="generate_redirector"/>
		</dependencies>
		<exports>
			<group name="all"/>
			<group name="j9vmnatives"/>
			<group name="jdk11">
				<include-if condition="spec.java11"/>
			</group>
			<group name="jdk14">
				<include-if condition="spec.java14"/>
			</group>
			<group name="jdk15">
				<include-if condition="spec.java15"/>
			</group>
		</exports>
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
			<include path="jvm"/>
			<include path="$(OMRPORT_SRCDIR)zos390" type="relativepath">
				<include-if condition="spec.zos_390.*"/>
			</include>
		</includes>
		<makefilestubs>
			<makefilestub data="UMA_TREAT_WARNINGS_AS_ERRORS=1"/>
			<makefilestub data="OMRPORT_SRCDIR=$(OMR_DIR)/port/"/>
		</makefilestubs>
		<objects>
			<object name="generated"/>
			<object name="redirector"/>
		</objects>
		<libraries>
			<library name="omrutil" type="external"/>
			<library name="dl" type="system">
				<exclude-if condition="spec.win_.*"/>
				<exclude-if condition="spec.zos_.*"/>
				<exclude-if condition="spec.linux_ztpf.*"/>
			</library>
		</libraries>
	</artifact>

</module>
