<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Copyright (c) 2017, 2017 IBM Corp. and others
	
	This program and the accompanying materials are made available under
	the terms of the Eclipse Public License 2.0 which accompanies this
	distribution and is available at https://www.eclipse.org/legal/epl-2.0/
	or the Apache License, Version 2.0 which accompanies this distribution and
	is available at https://www.apache.org/licenses/LICENSE-2.0.
	
	This Source Code may also be made available under the following
	Secondary Licenses when the conditions for such availability set
	forth in the Eclipse Public License, v. 2.0 are satisfied: GNU
	General Public License, version 2 with the GNU Classpath
	Exception [1] and GNU General Public License, version 2 with the
	OpenJDK Assembly Exception [2].
	
	[1] https://www.gnu.org/software/classpath/license.html
	[2] http://openjdk.java.net/legal/assembly-exception.html

	SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
-->
<module>

	<artifact type="executable" name="constgen">
		<options>
			<option name="isCPlusPlus">
				<exclude-if condition="spec.linux_ppc.*"/>
			</option>
			<option name="doesNotRequireCMAIN"/>
		</options>
		<phase>core j2se</phase>
		<includes>
			<include path="j9include"/>
			<include path="j9oti"/>
		</includes>
		<makefilestubs>
			<makefilestub data="UMA_EXE_POSTFIX_FLAGS+=-static">
				<include-if condition="spec.linux_arm.*" />
			</makefilestub>
			<makefilestub data="UMA_TREAT_WARNINGS_AS_ERRORS=1"/>
		</makefilestubs>
		<objects>
			<object name="jilconsts"/>
		</objects>
		<libraries>
			<!--
			Link the static omr port library, without jsig.
			This is needed to run j9ddrgen using the Linux ARM emulator,
			but works for other platforms as well.
			-->
			<library name="j9prtstatic" type="external" />
			
			<library name="j9thrstatic" type="external">
				<include-if condition="spec.linux_arm.*" />
			</library>
			<library name="j9thr">
				<exclude-if condition="spec.linux_arm.*" />
			</library>
			<library name="j9hashtable" type="external"/>
			<library name="j9avl" type="external"/>
			<library name="j9pool" type="external"/>
			<library name="j9exelib"/>
			<library name="j9utilcore"/>
			
			<!-- The following libs are needed to statically link the port library -->
			<library name="omrglue" type="external"/>
			<library name="socket" type="macro"/>			
			<library name="iconv" type="system">
				<include-if condition="spec.aix_.*"/>
				<include-if condition="spec.osx_.*"/>
			</library>
			<library name="perfstat" type="system">
				<include-if condition="spec.aix_.*"/>
			</library>
			<library name="shell32.lib" type="system" delayload="true">
				<include-if condition="spec.win_.*"/>
			</library>
			<library name="Iphlpapi.lib" type="system" delayload="true">
				<include-if condition="spec.win_.*"/>
			</library>
			<library name="psapi.lib" type="system" delayload="true">
				<include-if condition="spec.win_.*"/>
			</library>
			<library name="pdh.lib" type="system" delayload="true">
				<include-if condition="spec.win_.*"/>
			</library>
		</libraries>
	</artifact>
	
	<artifact type="target" name="run_constgen">
		<phase>core j2se</phase>
		<dependencies>
			<dependency name="constgen"/>
		</dependencies>
		<commands>
			<command line="cd $(UMA_PATH_TO_ROOT) &amp;&amp; ./constgen" type="all">
				<exclude-if condition="spec.linux_arm.*"/>
				<exclude-if condition="spec.linux_ztpf.*"/>
			</command>
			<command line="cd $(UMA_PATH_TO_ROOT) &amp;&amp; qemu-arm -r '9' ./constgen" type="all">
				<include-if condition="spec.linux_arm.*"/>
			</command>
		</commands>
	</artifact>
</module>
